@model DonationWidget.Models.DonationWidgetModel
@using Alkami.Client.WebClient.Shared.Helpers
@using System.Web.Mvc.Html
@using Alkami.Client.Framework.Utility
@section TitleContentPlaceholder{
    @Html.SiteText("Title")
}

@section StyleSheetContentPlaceholder{
    <style>
        #charityInfo {
            display: none;
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;
            padding: 20px;
            margin-top: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

            #charityInfo h2 {
                color: #333;
                margin-bottom: 10px;
            }

            #charityInfo img {
                margin-bottom: 10px;
            }

            #charityInfo p {
                color: #666;
                line-height: 1.6;
                margin-bottom: 10px;
            }

            #charityInfo a {
                color: #007BFF;
                text-decoration: none;
            }

                #charityInfo a:hover {
                    text-decoration: underline;
                }
    </style>
}

@section JavaScriptIncludeContentPlaceholder{

}

<div class="widget-info">@Html.Raw(Html.SiteText("WidgetInfo"))</div>

@using (Html.BeginForm("Donate", "DonationWidgetController", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="container" style="margin-top:20px;">
        <div class="row">
            <div class="col-sm">
                <div class="mar-bottom--md">
                    <h2 class="mar-bottom--sm">Select a charity below:</h2>
                    <div class="iris-dropdown ecu-dropdown" id="charityDropdown" name="dropdown" placeholder="Select a charity">
                        <ul class="iris-options-list">
                            @foreach (var charity in @Model.Charities)
                            {
                                <li class="iris-option" data-value="@charity.AccountIdentifier.ToString()"> @charity.Name </li>
                            }
                        </ul>
                    </div>
                </div>
                <div id="charityInfo">
                </div>
            </div>
            <!-- Second column-->
            <div class="col-sm">
                <h2 class="mar-bottom--sm">Select an account below:</h2>
                <div class="iris-dropdown" id="account-dropdown" placeholder="Select an account" data-size="large">
                    <ul class="iris-options-list">
                        @if (Model.Accounts.Count > 0)
                        {
                            foreach (var account in @Model.Accounts)
                            {
                                <li class="iris-option" data-value="@account.AccountIdentifier">
                                    <div class="iris-account iris-account--multi-line" data-color="account-color-0">
                                        <span class="iris-account__color-bar"></span>
                                        <div class="iris-account__column iris-account__account-details">
                                            <div class="iris-account__info iris-account__primary-info">
                                                <span class="iris-account__account-name" title="Account">Account</span>
                                            </div>
                                            <div class="iris-account__info iris-account__secondary-info">
                                                <span class="iris-account__account-number"><span role="img" aria-label="Account number ending in">**********</span>@account.Number</span>
                                                <span class="iris-account__info-icon font-icon-fi" role="img" aria-label="External account"></span>
                                                <span class="iris-account__info-icon font-icon-pending" role="img" aria-label="Pending transactions"></span>
                                            </div>
                                        </div>
                                        <div class="iris-account-balance iris-account-balance--available-balance">
                                            <div class="iris-account-balance__row">
                                                <span class="iris-account-balance__icon available-balance-icon" role="img" aria-label="Available balance"></span>
                                                <span class="iris-account-balance__primary-info">$ @string.Format("{0:F2}", account.AvailableBalance)</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
                <input type="hidden" id="selectedCharity" name="SelectedCharity" />
                <input type="hidden" id="selectedAccount" name="SelectedAccount" />
                <div class="form-group">
                    <label for="donationAmount" class="mar-bottom--md block">Donation Amount:</label>
                    <div class="iris-textfield">
                        <input type="text" class="iris-textfield__input" id="donationAmount" name="DonationAmount" placeholder="Enter donation amount" required>
                    </div>
                </div>
                <button type="submit" class="iris-button iris-button--primary">
                    <span class="iris-button__text">Submit</span>
                </button>
            </div>
        </div>
    </div>
}
    <script>
    var charities = @Html.Raw(Json.Encode(Model.Charities));

    document.getElementById('charityDropdown').addEventListener('iris.dropdown.change', function(e) {
        var selectedCharity = e.detail.value;
        var charity = charities.find(c => c.AccountIdentifier.toString() === selectedCharity);

        if (charity) {
            var charityInfoDiv = document.getElementById('charityInfo');
            var formattedTotalDonationAmount = parseFloat(charity.TotalDonationAmount).toLocaleString('en-US', { style: 'currency', currency: 'USD' });
            var formattedGoalAmount = parseFloat(charity.GoalAmount).toLocaleString('en-US', { style: 'currency', currency: 'USD' });
            charityInfoDiv.innerHTML = `
                <h2>${charity.Name}</h2>
                <img src="${charity.LogoUrl}" alt="${charity.Name} Logo">
                <p>${charity.CharityInfo}</p>
                <a target='_blank' href="${charity.WebsiteUrl}">Visit Website</a>
                <div class="iris-progress-bar iris-progress-bar--info">
                    <h3 class="iris-progress-bar__title font-weight--500">${formattedTotalDonationAmount}</h3>
                    <progress class="iris-progress-bar__meter"
                              role="progressbar"
                              aria-valuemin="0"
                              aria-valuenow="${formattedTotalDonationAmount}"
                              aria-valuemax="${formattedGoalAmount}"
                              aria-valuetext="$350 out of ${formattedTotalDonationAmount} required"
                              value="${parseFloat(formattedTotalDonationAmount.replace(/[$,]/g, ""))}"
                              max="${parseFloat(formattedGoalAmount.replace(/[$,]/g, ""))}">
                    </progress>
                    <span class="iris-progress-bar__secondary-info font-size--xs">${formattedGoalAmount} required</span>
                </div>
            `;
            charityInfoDiv.style.display = 'block';
        } else {
            console.error('No matching charity found for selected value: ' + selectedCharity);
        }
    });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Listen for changes on the charity dropdown
            document.getElementById('charityDropdown').addEventListener('click', function (e) {
                if (e.target && e.target.matches("li.iris-option")) {
                    var selectedCharity = e.target.getAttribute('data-value');
                    document.getElementById('selectedCharity').value = selectedCharity;
                }
            });

            // Listen for changes on the account dropdown
            document.getElementById('account-dropdown').addEventListener('click', function (e) {
                if (e.target && e.target.matches("li.iris-option")) {
                    var selectedAccount = e.target.getAttribute('data-value');
                    document.getElementById('selectedAccount').value = selectedAccount;
                }
            });

            // Initialize charity information on page load if a default selection exists
            var initialCharity = document.querySelector('#charityDropdown .iris-option');
            if (initialCharity) {
                initialCharity.click();
            }

            // Initialize account information on page load if a default selection exists
            var initialAccount = document.querySelector('#account-dropdown .iris-option');
            if (initialAccount) {
                initialAccount.click();
            }
        });
    </script>
